APP_NAME="Zubaka API"
ENVIRONMENT="development" # Can also be production
DATABASE_URL="your_db_connection_string_here"
GROQ_API_KEY="your_groq_api_key_here"
SECRET_KEY="your_secret_key_here"
ALGORITHM="token_hashing_algorithm" # optional
ACCESS_TOKEN_EXPIRES_MINUTES="time_for_token_to_expire" # optional